@media screen and (max-width: 419px){


  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .row{
    width: 100%;
  }

 #lezioni .row .right, #lezioni .row .left{
   margin: 0 1%;
    width: 100%;
    float: none;
    padding: 0 6%;
  }

  #steps .row .right, #steps .row .left, #steps .row .central {
     width: 100%;
     float: none;
   }

   #lezioni .row img{
     height: auto;
     max-width: 40%;
   }

   #steps .row .central{
     margin: 10% auto;
   }

   #steps .row img{
     height: auto;
     max-width: 40%;
   }

   #why .row img{
     max-width: 30%;
     height: auto;
   }

}
